<div class="container col-md-10">
  <div class="card custom-card">
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="grabar()" class="form-container">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="observaciones" class="form-label">Observaciones</label>
              <div class="input-group">
                <input type="text" class="form-control" id="observaciones" formControlName="observaciones">
                <span class="input-group-text">
                  <i class="fas fa-comment"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary me-2" [disabled]="formulario.invalid">
            <i class="fas fa-save"></i> Grabar
          </button>
          <button type="button" class="btn btn-secondary" (click)="cerrarFormulario()">
            <i class="fas fa-times"></i> Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>