<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
    <i class="fa-solid {{menuStatus ? 'fa-circle-chevron-left' : 'fa-circle-chevron-right'}}"></i>
  </div>
  <a class="navbar-brand px-4" href="#">LABORATORISTA</a>

  <div class="navbar-collapse d-flex ml-auto" *ngIf="validarUser|async as user">
    <a class="nav-link text-light mx-2 ">
      {{user.email}}
    </a>
    <button class="btn btn-outline-light mx-2" (click)="logout()">
      Logout
    </button>
  </div>


</nav>