<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let metadata of metaDataColumns">{{ metadata.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let metadata of metaDataColumns">{{ row[metadata.field] }}</td>
        <td>
          <button class="btn btn-secondary" (click)="accionEditar(row)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" (click)="accionEliminar(row._id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>